<div class="container-fluid bg-black d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="text-center mb-4">
      <h1 class="patua-one text-white" style="font-size: 80px;">
        <span class="eatfit-e">E</span>at<span class="naranja">F</span>it
      </h1>
      <p class="fs-3 text-white">¡Bienvenido!</p>
    </div>

    <form [formGroup]="registerForm" (submit)="onSubmit()">
      <div class="mb-3">
        <input type="text" class="form-control form-control-lg border-0 rounded-3 text-black" placeholder="Nombre"
          formControlName="name" [ngClass]="{
                 'is-valid': registerForm.get('name')?.valid && registerForm.get('name')?.touched,
                 'is-invalid': registerForm.get('name')?.invalid && registerForm.get('name')?.touched
               }">
        <div class="invalid-feedback">
          <small *ngIf="registerForm.get('name')?.errors?.['required']">
            El nombre es obligatorio
          </small>
          <small *ngIf="registerForm.get('name')?.errors?.['minlength']" class="d-block">
            El nombre debe tener al menos {{registerForm.get('name')?.errors?.['minlength']?.requiredLength}} caracteres
          </small>
        </div>
      </div>

      <div class="mb-3">
        <input type="email" class="form-control form-control-lg border-0 rounded-3 text-black" placeholder="Email"
          formControlName="email" [ngClass]="{
                 'is-valid': registerForm.get('email')?.valid && registerForm.get('email')?.touched,
                 'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched
               }">
        <div class="invalid-feedback">
          <small *ngIf="registerForm.get('email')?.errors?.['required']">
            El email es obligatorio
          </small>
          <small *ngIf="registerForm.get('email')?.errors?.['email']" class="d-block">
            Por favor ingresa un email válido
          </small>
        </div>
      </div>

      <div class="mb-3">
        <input type="password" class="form-control form-control-lg border-0 rounded-3 text-black"
          placeholder="Contraseña" formControlName="password" [ngClass]="{
                 'is-valid': registerForm.get('password')?.valid && registerForm.get('password')?.touched,
                 'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched
               }">
        <div class="invalid-feedback">
          <small *ngIf="registerForm.get('password')?.errors?.['required']">
            La contraseña es obligatoria
          </small>
          <small *ngIf="registerForm.get('password')?.errors?.['weakPassword']" class="d-block">
            La contraseña debe contener al menos una mayúscula y un número
          </small>
        </div>
      </div>

      <div class="mb-4">
        <input type="password" class="form-control form-control-lg border-0 rounded-3 text-black"
          placeholder="Confirmar contraseña" formControlName="confirmPassword" [ngClass]="{
                 'is-valid': registerForm.get('confirmPassword')?.valid && registerForm.get('confirmPassword')?.touched,
                 'is-invalid': registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched
               }">
        <div class="invalid-feedback">
          <small *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
            Confirma tu contraseña
          </small>
          <small *ngIf="registerForm.get('confirmPassword')?.errors?.['mismatch']" class="d-block">
            Las contraseñas no coinciden
          </small>
        </div>
      </div>

      <button type="submit" class="w-100 py-2 fs-2 rounded-3 text-white fondoNaranjaOscuro"
        [disabled]="registerForm.invalid">
        Registrar
      </button>
    </form>

<div class="text-center mt-3">
  <p>
    <a routerLink="/login"class="text-white text-decoration-none">
      ¿Tienes una cuenta? <span class="naranja">Inicia sesión</span>
    </a>
  </p>
</div>
  </div>
</div>