.loading-text {
  font-size: 4rem;
  font-weight: bold;
  animation: loadingAnimation 7s infinite;
  font-family: "Patua One", serif;
}

@keyframes loadingAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  75% {
    opacity: 1;
    transform: scale(1.9);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}