<div class="container py-4" style="max-width: 1100px;">

  <h2 class="fw-semibold mb-4">¡Hola, Juan Antonio!</h2>

  <div class="d-flex align-items-center gap-3 mb-3">
    <div class="rounded-circle d-flex align-items-center justify-content-center bg-white shadow-sm"
         style="width: 44px; height: 44px;">
      <img src="assets/img/inicioEntreno.svg" width="56px" class="rounded-circle img-fluid">
    </div>
    <h5 class="mb-0 fw-semibold">Ruting de volumen</h5>
  </div>

  <div class="rounded-4 p-4" style="background-color: #d9d9d9;">

    <div class="d-flex align-items-center gap-3 mb-3">
      <div class="rounded-circle d-flex align-items-center justify-content-center bg-dark text-white"
           style="width: 42px; height: 42px;">
      <img src="assets/img/rutina.svg" width="56px" class="rounded-circle img-fluid">
      </div>
      <h5 class="mb-0 fw-semibold">Entrenamiento: Pecho</h5>
    </div>

    <div class="bg-white rounded-4 overflow-hidden">

      <div class="border-bottom p-3 d-flex gap-3 align-items-center">
        <div class="rounded-circle bg-light d-flex align-items-center justify-content-center"
             style="width: 56px; height: 56px;">
          <img src="assets/img/pressBanca.png" width="56px" class="rounded-circle img-fluid">
        </div>
        <div>
          <div class="fw-semibold">Press Banca</div>
          <div class="text-muted small">4 series | 8 repeticiones | 80kg</div>
        </div>
      </div>

      <div class="border-bottom p-3 d-flex gap-3 align-items-center">
        <div class="rounded-circle bg-light d-flex align-items-center justify-content-center"
             style="width: 56px; height: 56px;">
          <img src="assets/img/aperturaMancuernas.png" width="56px" class="rounded-circle img-fluid">
        </div>
        <div>
          <div class="fw-semibold">Apertura con mancuernas</div>
          <div class="text-muted small">3 series | 12 repeticiones | 30kg</div>
        </div>
      </div>

      <div class="border-bottom p-3 d-flex gap-3 align-items-center">
        <div class="rounded-circle bg-light d-flex align-items-center justify-content-center"
             style="width: 56px; height: 56px;">
          <img src="assets/img/flexiones.png" width="56px" class="rounded-circle img-fluid">
        </div>
        <div>
          <div class="fw-semibold">Flexiones</div>
          <div class="text-muted small">4 series | 20 repeticiones | Sin peso</div>
        </div>
      </div>

      <div class="border-bottom p-3 d-flex gap-3 align-items-center">
        <div class="rounded-circle bg-light d-flex align-items-center justify-content-center"
             style="width: 56px; height: 56px;">
          <img src="assets/img/pressBanca.png" width="56px" class="rounded-circle img-fluid">
        </div>
        <div>
          <div class="fw-semibold">Press Banca</div>
          <div class="text-muted small">4 series | 8 repeticiones | 80kg</div>
        </div>
      </div>

      <div class="p-3 d-flex gap-3 align-items-center">
        <div class="rounded-circle bg-light d-flex align-items-center justify-content-center"
             style="width: 56px; height: 56px;">
          <img src="assets/img/aperturaMancuernas.png" width="56px" class="rounded-circle img-fluid">
        </div>
        <div>
          <div class="fw-semibold">Apertura con mancuernas</div>
          <div class="text-muted small">3 series | 12 repeticiones | 30kg</div>
        </div>
      </div>

    </div>
  </div>
  <button class="btn btn-secondary w-100 mt-4 py-3 rounded-pill fw-semibold">
    Ver rutina
  </button>

</div>
