/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

.container-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.router-content {
  flex: 1;
}

.patua-one {
  font-family: "Patua One", serif;
}
.eatfit-e {
  color: #85FF70; 
}



.poppins {
    font-family: 'Poppins', sans-serif;
}
.morado{
    color:#514BFF
}
.naranja{
    color:#FF8C00
}
.fondoNaranjaOscuro{
    background-color:#FF8C00
}
.fondoNaranja{
    background-color:#FFEBDA
}
.amarillo{
    color:#FFCB00
}
.fondoAmarillo{
    background-color:#FFF6D5
}

.gris{
  background-color: #EAEAEA;
}
